*{
  margin: 0;
  padding: 0;
  font-family:Chalkduster, fantasy;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;

}



body{
min-height: 100vh; 
background: url(./image/lakeside.JPG) no-repeat; 
background-size: cover;
background-position: center;
}



/* h1 {
  text-align: center;
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
} */

header{
  position: fixed;
  top: 0;left: 0; right:0;
  background: #ffffff ;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}


header .logo{
  font-weight: bolder;
  font-size: 25px;
   color: darkblue;

}
header .navbar ul{
   list-style: none;
  
}
header .navbar ul li{
  position: relative;
  float: left;

}
header .navbar ul li a{
  font-size: 20px;
  padding: 20px;;
  color:#6026e9fb;
  display: block;
}
header .navbar ul li a:hover{
  background: #333;
  color: #fff;
}

header .navbar ul li ul{
  position: absolute;
  left:0;
  width:200px;
  background: #fff;
  display: none;

}
header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid #000;
}
header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}


header .navbar ul li:focus-within >ul,
header .navbar ul li:hover >ul{
  display:initial;
}

#menu-bar{
  display:none;
}

header label{
  font-size:20px;
  color: #333;
  cursor: pointer;
  display: none;

}

@media(max-width:991px){
  header{
    padding:20px;
  }
}
header label{
  display: initial;
}

header.navbar{
  position: absolute;
  top: 100%; left:0; right: 0;
  background: #fff;
  border-top: 1px solid rgba(0,0,0,.1);
  display: none;
}
header .navbar ul li{
  width:100%;

}
header .navbar ul li ul{
  position: relative;
  width: 100%;

}

header .navbar ul li ul li{
  background: #eee;

}

header .navbar ul li ul li ul{
  width: 100%;

}

#menu-bar :checked ~ .navbar{
  display:initial;

}


#para {
  position: relative;
  margin: 20px;
  padding: 20px;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}